    /* Tablet responsive */
@media screen and (min-width:425px) and (max-width:768px){
    header{
        padding-bottom: 20px;
    }

    nav{
        flex-direction: column;
    }

    .header-left{
        width: 100%;
        margin: 0 auto;
        justify-content: center;
    }

    /* header-right-section-stated */
    .header-right{
        width: 100%;
        flex-direction: column;
    }

    .header-right .right-item{
        flex-direction: column;
        gap: 5px;
    }

    .right-item p{
        font-size: 20px;
    }

    .header-right .right-follo{
        width: 300px;
    }

    .right-follo > p{
        font-size: 20px;
    }

    .right-follo .youtube{
        font-size: 30px;
    } 
    
    .right-follo .tik-tok{
        font-size: 30px;
    }

    /* banner section section starts */
    .banner-container{
        flex-direction: column-reverse;
        gap: 10px; 
    }

    .banner-text{
        width: 90%;
        object-fit: cover;
        margin: 0 auto;
        box-sizing: border-box;
        padding-top: 40px;
        padding-bottom: 40px;
        
    }

    .banner-img{
        width: 90%;
        object-fit: cover;
        margin: 0 auto;
        padding-top:10px ;
        padding-bottom: 10px;
    }

    /* onlie games section starts */ 
    
    .online-h3{
        font-size: 48px;
    }

    .online-h3 span{
        font-size: 48px;
    }

    .online-p{
        font-size: 18px;
    }
    

    /* online-section-bottom stated */
    .online-section-bottom{
        flex-direction: column;
        text-align: center; 
    }

    .games-card{
        margin: 60px auto;
    }
    .games-card img{
        width: 100%;
        margin: 0 auto;
    }

.play-instantly-container{
    flex-direction: column;
    margin: 40px auto;
    gap: 80px;
}

.play-instantly-text{
    width: 100%;
    text-align:center;
}

.play-instantly-img{
    width: 80%;
    margin: 0 auto;
}

.talkion-img img{
    width: 272px;
    height: auto;
    left: -71px;
    bottom: -31px;
}

 /* play instantly section starts */

 .play-instantly-container{
    flex-direction: column;
    margin: 40px auto;
    gap: 80px;
}

.play-instantly-text{
    width: 100%;
    text-align:center;
}

.play-instantly-img{
    width: 80%;
}

.talkion-img img{
    width: 201px;
    height: auto;
    left: -11px;
    bottom: -31px;
}

/* Team section starts */

.team-item-top{
    grid-template-columns: auto auto auto;
    margin: 90px auto;
    gap: 15px;
    box-sizing: border-box;
    padding: 5px;
}

.team-man {
    gap: 15px;}

.team-man img{
    width: 30px;
 }

 .team-man p{
    font-size: 10px;
}

/* footer section stated */

.footer-container{
    text-align: center;
    width: 90%;
}

.footer-nav{
    display: grid;
    grid-template-columns:repeat(3, 1fr) ;
    gap: 10px;
}

.footer-icon{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    padding-top: 10px;
    padding-bottom:10px ;
}

.footer-bottm-nav{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}

.games-coppright-section p{
    width: 260px;
    height: 38px;
    margin: 5px auto;
}
}
/* mobile responsive stated*/

@media screen and (max-width:425px){
    header{
        padding-bottom: 20px;
    }
    
    nav{
        flex-direction: column;
    }

    .header-left{
        width: 100%;
        margin: 0 auto;
        justify-content: center;
    }

    /* header-right-section-stated */
    .header-right{
        width: 100%;
        flex-direction: column;
    }

    .header-right .right-item{
        flex-direction: column;
    }

    /* banner section section starts */
    .banner-container{
        flex-direction: column-reverse;
        gap: 10px; 
    }

    .banner-text{
        width: 90%;
        object-fit: cover;
        margin: 0 auto;
        padding-top:px ;
        padding-bottom: 30px;
        
    }

    .banner-text h5 {
        font-size: 35px;
    }

    .banner-text h1{font-size: 50px;}

    .banner-button .button-sign{
        width: 100px;
        height: 50px;
        font-size: 15px;
    } 

    .banner-button .button-rogue{
        width: 120px;
        height: 50px;
        font-size: 15px;
    }

    .banner-img{
        width: 90%;
        object-fit: cover;
        margin: 0 auto;
        padding-top:10px ;
        padding-bottom: 10px;
    }

    /* onlie games section starts */
    .online-h3{
        font-size: 25px;
        padding-bottom: 20px;
    }

    .online-h3 span{
        font-size: 25px;
    }

    .online-p{
        font-size: 15px;
    }

    /* online-section-bottom stated */
    .online-section-bottom{
        flex-direction: column;
        text-align: center; 
    }

    .games-card{
        margin: 60px auto;
    }
    .games-card img{
        width: 100%;
        margin: 0 auto;
    }

    /* play instantly section starts */

.play-instantly-container{
    flex-direction: column;
    margin: 40px auto;
    gap: 80px;
}

.play-instantly-text{
    width: 100%;
    text-align:center;
}

.instantly-text-h2{
    font-size: 40px;
}

.instantly-text-h2 .text-span{
    font-size: 40px;
}

.play-instantly-img{
    width: 80%;
}

.talkion-img img{
    width: 201px;
    height: auto;
    left: -11px;
    bottom: -31px;
}

/* Team section starts */

.team-item-top{
    grid-template-columns: auto auto auto;
    margin: 90px auto;
    gap: 5px;
    box-sizing: border-box;
    padding: 5px;
}

.team-man img{
    width: 30px;
 }

 .team-man p{
    font-size: 10px;
}

/* footer section stated */

.footer-nav{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0px;
    padding-top: 15px;
    padding-bottom: 20px;
}
 .footer-nav .footer-nav-p{
    font-size:14px ;
    color: #FFF;
}

.footer-container{
    text-align: center;
    width: 90%;
}

.footer-icon{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding-top: 10px;
    padding-bottom:10px ;
}


.footer-icon i, strong{
    font-size: 30px;
}

.footer-bottm-nav{
    display: grid;
    grid-template-columns: repeat(2,1fr); 
    gap: 0;
}

.footer-bottm-nav p{
    font-size:10px;
}


.games-coppright-section p{
    width: 260px;
    height: 38px;
    margin: 5px auto;
}

}
